*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 1.2em;
}

.navLinks{
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: #fff;
	transition: 0.2s;
}
a:hover{
	color: lightgrey;
	opacity: 0.7;
}

main{
	width: 100%;
	height: 100vh;
	background-image: url(./voyage.jpg);
	background-size: cover;
}

.home{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
}

.title{
	font-size: 5em;
	color: #fff;
	text-align: center;
	padding: 16% 0;
	letter-spacing: 3px;
	font-weight: 700;
	padding-bottom: 0;
}

.description{
	font-size: 1.7em;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 400;
	padding-top: 20px;
}

.btn{
	text-align: center;
	padding-top: 45px;
}
.btnItem{
	width: 130px;
	height: 50px;
}

.btnItem{
	margin: 0 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid white;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 2px;
	transition: 0.2s;
}

.btnItem:hover{
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}